<%- include ("../partials/header") -%>
<div class="container u-mt-10">
    <div class="columns is-multiline">
        <% profiles.forEach(function(profile) { %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-2by1">
                        <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="<%= profile.userID.photo.secure_url %>" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-4"><%= profile.userID.firstName %> <%= profile.userID.lastName %></p>
                          <p class="subtitle is-6"><%= profile.location %></p>
                        </div>
                      </div>
                      <div class="content">
                        "If you don't have time to read, you don't have the time (or the tools) to write. Simple as that."
                        <br>
                        <a href="/author/<%=profile.id %>" class="btn-text">View profile →</a>
                      </div>
                    </div>
                  </div>
               </div>
             <%})%>
        </div>
    </div>
