<%- include ("./partials/header") %>
<div class="container">
    <div class="box u-mt-10">
      <div class="edit-book-form">
        <form action="/author/myprofile/<%= authorProfile.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="field">
            <h5 class="subtitle is-3 is-spaced">Edit Profile</h5>
            <div class="field is-grouped">
              <div class="control">
                <input type="text" name="user[firstName]" class="input" placeholder="First Name" value="<%= userProfile.firstName %>">
              </div>
              <div class="control">
                <input type="text" name="user[lastName]" class="input" placeholder="Last Name" value="<%= userProfile.lastName %>">
              </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <input type="text" name="authorProfile[location]" class="input" placeholder="Location" value="<%= authorProfile.location %>">
            </div>
            <div class="control">
              <input type="text" name="authorProfile[website]" class="input" placeholder="Personal/Blog Link" value="<%= authorProfile.website %>" >
            </div>
          </div>
          <div class="field">
            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" name="user[photo]">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name">
                  <%= currentUser.photo.split('/')[3] %>
                </span>
              </label>
            </div>
          </div>
          <div class="field">
              <div class="control">
                <textarea name="authorProfile[biography]" class="textarea" class="form-control" placeholder="Biography"><%= authorProfile.biography %></textarea>
          </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" name="authorProfile[linkedin]" class="input" placeholder="LinkeIn URL" value="<%= authorProfile.linkedin%>">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" name="authorProfile[twitter]" class="input" placeholder="Twitter URL" value="<%= authorProfile.twitter%>">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" name="authorProfile[instagram]" class="input" placeholder="Instagram URL" value="<%= authorProfile.instagram%>">
            </div>
          </div>
             
            <div class="field">
              <div class="control">
                <textarea name="authorProfile[quote]" class="textarea" class="form-control" placeholder="Favorite quote"><%= authorProfile.quote %></textarea>
          </div>
          <div class="field">
            <div class="control">
                <button id="" class="button is-primary is-outlined">Save</button>
            </div>
        </div>
          </div>
      </form>
      </div>
    </div>
</div>