<%- include ("../partials/header") %>
<div class="container">
    <div class="box u-mt-10">
      <div class="edit-book-form">
        <form action="/author/book/details/<%= book.id %>?_method=PUT" method="POST">
          <div class="field">
            <h5 class="subtitle is-3 is-spaced">Edit Book</h5>
              <div class="field">
                <div class="control">
                  <input type="text" name="book[bookTitle]" class="input" placeholder="Title" value="<%= book.bookTitle %>">
                </div> 
              </div>
              <div class="field">
                <div class="control">
                  <input type="text" name="book[category]" class="input" placeholder="Category" value="<%= book.category %>">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <textarea name="book[bookDescription]" id="" class="textarea" placeholder="Description"><%= book.bookDescription %></textarea>
                </div>
              </div>
              <div class="field">
                <div class="control">
                    <button id="" class="button is-primary is-outlined">Save</button>
                </div>
            </div>
      </form>
      <form action="/author/book/details/<%= book.id %>?_method=DELETE" method="POST">
        <div class="field">
          <div class="control">
              <button id="" class="button is-danger is-outlined">Delete book</button>
          </div>
      </div>
    </form>
      </div>
    </div>
</div>